.btn-rojo{background-color:#FF0000;color: #FFF;}
.btn-rojo:hover{color: #FFF;}

.btn-azul{background-color:#0000FF;color: #FFF;}
.btn-azul:hover{color: #FFF;}

.btn-verde{background-color:#008000;color: #FFF;}
.btn-verde:hover{color: #FFF;}

.btn-natural{background-color:#FFFFFF;color: #000;}
.btn-natural:hover{color: #FFF;}


.btn-cafe{background-color:#8B4513;color: #FFF;}
.btn-cafe:hover{color: #FFF;}

.btn-beige{background-color:#FFD700;color: #FFF;}
.btn-beige:hover{color: #FFF;}

.btn-amarillo{background-color:#FFFF00;color: #000;}
.btn-amarillo:hover{color: #FFF;}

.btn-naranja{background-color:#FFA500;color: #FFF;}
.btn-naranja:hover{color: #FFF;}

.btn-relx{background-color:#FF00FF;color: #FFF;}
.btn-relx:hover{color: #FFF;}

.btn-relt{background-color:#A9A9A9;color: #FFF;}
.btn-relt:hover{color: #FFF;}